<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidez Capital - Editar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="container-flex">
            <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="Logo"></a>
            <nav>
                <strong><a href="{{ url_for('visualizar_usuario') }}">Usuário</a></strong>
                <a href="{{ url_for('painel') }}">Painel</a>
                <a href="{{ url_for('transacoes') }}">Transações</a>
                <a href="#">Emergência</a>
                <a href="#">Investimentos</a>
            </nav>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <section class="usuario-section">
            <div class="usuario-box">
                <h1>Editar Usuário</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('editar_usuario') }}">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" value="{{ usuario.nome }}" required>

                    <label for="cpf">CPF</label>
                    <input type="text"
                    id="cpf"
                    name="cpf"
                    value="{{ usuario.cpf }}"
                    placeholder="Digite seu CPF:"
                    pattern="\d{11}"
                    maxlength="11" 
                    inputmode="numeric"
                    oninput="this.value = this.value.replace(/\D/g, '')" 
                    required>
                    <!-- elimina qualquer caractere que na seja numero, permite no minimo e no maximo 11 caracteres, afirma queo input deve ser numero -->

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ usuario.email }}" required>

                    <label for="nova_senha">Nova Senha (opcional)</label>
                    <input type="password" id="nova_senha" name="nova_senha" placeholder="Digite a nova senha" minlength="8" maxlength="20">

                    <label for="confirmar_senha">Confirmar Nova Senha</label>
                    <input type="password" id="confirmar_senha" name="confirmar_senha" placeholder="Confirme a nova senha" minlength="8" maxlength="20">

                    <div class="buttons">
                        <a class="cancelar" href="{{ url_for('visualizar_usuario') }}">Cancelar</a>
                        <button class="voltar" type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>