<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Solidez Capital</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <a href="{{ url_for('index') }}">
        <img src="../static/img/logo.png" alt="Logo da Solidez Capital" />
      </a>
      <nav>
        <a href="#quem_somos">Quem Somos?</a>
        <a href="#dicas">Dicas</a>
        <a href="#beneficios">Benefícios</a>
        <a class="login" href="{{ url_for('login') }}">Login</a>
      </nav>
    </div>
  </header>

  <main>
    <img class="banner" src="../static/img/banner.png" alt="banner" />

    <section id="quem_somos">
      <div class="conteudo">
        <div class="titulo">
          <h2>Quem Somos?</h2>
        </div>
        <div class="texto">
          <p>
            A Solidez Capital nasceu com o propósito de ajudar pessoas comuns a construírem um futuro mais seguro e tranquilo, sem fórmulas mágicas ou promessas irreais. Acreditamos que educação financeira é para todos, e começa com passos simples.
          </p>
        </div>
      </div>
      <div class="img">
        <img src="../static/img/logo.png" alt="Logo institucional" />
      </div>
    </section>

    <section id="dicas">
      <img src="../static/img/moeda_na_mao 1.png" alt="Dicas financeiras" />
      <div class="conteudo">
        <div class="balao">
          <h2>Economize R$ 100/mês com essas Dicas!</h2>
        </div>
        <div class="balao">
          <p>
            . Corte gastos invisíveis;<br>
            . Regras simples para poupar: 50-30-20: 50% para necessidades, 30% para lazer, 20% para poupança/investimentos;<br>
            . Reduza custos em casa;<br>
            . Apps que salvam seu bolso.
          </p>
        </div>
      </div>
    </section>

    <section id="beneficios">
      <div>
        <h2>Destaques do Nosso Controle Financeiro:</h2>
      </div>

      <div class="box">
        <div class="balao-branco">
          <img src="/static/img/img1.png" alt="" />
          <p>Assuma o controle da sua vida financeira</p>
        </div>
        <div class="balao-branco">
          <img src="/static/img/img2.png" alt="" />
          <p>Veja exatamente onde seu dinheiro vai</p>
        </div>
        <div class="balao-branco">
          <img src="/static/img/img3.png" alt="" />
          <p>Acompanhe seus investimentos com clareza</p>
        </div>
        <div class="balao-branco">
          <img src="/static/img/img4.png" alt="" />
          <p>Registre seus gastos em segundos</p>
        </div>
        <div class="balao-branco">
          <img src="/static/img/img5.png" alt="" />
          <p>Defina metas e programe sua reserva</p>
        </div>
      </div>

      <div class="botao">
        <a href="{{ url_for('login') }}">Faça seu Cadastro Agora!!</a>
      </div>
    </section>
  </main>

    <footer>
      <div class="footer-container">
        <a href="index.html">
          <img src="../static/img/logo.png" alt="Logo da Solidez Capital" />
        </a>
        <nav>
          <a href="#quem_somos">Quem Somos?</a>
          <a href="#dicas">Dicas</a>
          <a href="#beneficios">Benefícios</a>
          <a class="login" href="{{ url_for('login') }}">Login</a>
        </nav>
      </div>
    </footer>
</body>
</html>
