<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Investimentos - Solidez Capital</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="container-flex">
      <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="Logo"></a>
      <nav>
        <a href="{{ url_for('visualizar_usuario') }}">Usuário</a>
        <a href="{{ url_for('painel') }}">Painel</a>
        <a href="{{ url_for('transacoes') }}">Transações</a>
        <a href="{{ url_for('emergencia') }}">Emergência</a>
        <strong><a href="{{ url_for('investimento') }}">Investimentos</a></strong>
      </nav>
    </div>
  </header>

  <!-- MAIN -->
  <main class="login-section">
    <div class="login-box" style="max-width: 1000px;">
      <h1>Adicionar Investimento</h1>

      {# flashes #}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div>
            {% for category, message in messages %}
              <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('investimento') }}" method="POST">
        <label for="valor">Valor do Investimento (R$):</label>
        <input
          type="number"
          id="valor"
          name="valor"
          step="0.01"
          min="0.01"
          placeholder="Ex: 1000.00"
          required
        >

        <label for="descricao">Local / Descrição:</label>
        <input
          type="text"
          id="descricao"
          name="local_descricao"
          placeholder="Detalhes sobre o investimento"
          style="text-transform: capitalize;"
        >

        <label for="data">Data do Investimento:</label>
        <input type="date" id="data" name="data" value="{{ data_padrao }}"  max="2025-12-31" required>

        <div class="buttons">
          <a class="cancelar" href="{{ url_for('painel') }}">Voltar ao Painel</a>
          <button class="voltar" type="submit">Salvar</button>
        </div>
      </form>

      <h2 style="margin-top: 40px; margin-bottom: 15px">Últimos Investimentos</h2>
      <table class="tabela-transacoes">
        <thead>
          <tr>
            <th>Data</th>
            <th style="text-align:left;">Descrição</th>
            <th style="text-align:right;">Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for investimento in investimentos %}
            <tr>
              <td>{{ formatar_data(investimento.data) }}</td>
              <td style="text-align:left;">{{ investimento.local_descricao.capitalize() }}</td>
              <td style="text-align:right;">R$ {{ '%.2f'|format(investimento.valor) }}</td>
            </tr>
          {% else %}
            <tr><td colspan="3">Nenhum investimento registrado.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
  <footer>
      <div class="footer-container">
        <div style="display: flex; flex-direction: row;">
        <nav style="font-size: 17.6px;">
          <a href="https://www.whatsapp.com/?lang=pt_br" target="_blank"> <img src="/static/img/whatsapp-logo-png_seeklogo-168310.png" alt=" Whatsapp"></a>
          <a href="https://www.instagram.com/" target="_blank"> <img src="/static/img/insta-logo.png" alt="instagram"> </a>
          <a href="https://x.com/?lang=pt-br" target="_blank"> <img src="/static/img/twitterx.png" alt="X"> </a>
        </nav>
        </div>       
        
        <a href="{{ url_for('index') }}">
          <img src="../static/img/logo.png" alt="Logo da Solidez Capital" />
        </a>
      </div>
      <hr>
        <div class="copy">
          <p> &copy;2025 - Todos os Direitos Reservados - Solidez Capital</p>
        </div>
    </footer>
</body>
</html>
