<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidez Capital</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="index.html"> <img src="../static/img/logo.png" alt=""></a>
        <nav>
            <a href="usuarios.html">Usuário</a>
            <a href="painel.html">Painel </a>
            <a href="transacoes.html">Transações</a>
            <a href="emergencia.html">Emergência</a>
            <a href="investimentos.html">Investimentos</a>
        </nav>
        </div>
    </header>
</body>
</html>