<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidez Capital</title>
</head>
<body>
    <header>
        <div class="container-flex">
            <a href="index.html"> <img src="../static/img/logo.png" alt=""></a>
        <nav>
            <a href="usuarios.html">Usuário</a>
            <a href="painel.html">Painel </a>
            <a href="transacoes.html">Transações</a>
            <a href="emergencia.html">Emergência</a>
            <a href="investimentos.html">Investimentos</a>
        </nav>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h1>Investimentos</h1>
                <form action="painel.html">
                    <label for="valor" >Valor:</label>
                    <input type="number" id="valor" name="valor" step="0.01" min="0" placeholder="R$0,00" required> <br>
                    <label for="local">Local-Descrição:</label>
                    <input type="text" id="local" name="data" placeholder="Digite o local e a descrição do seu Investimento" required><br>
                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data" placeholder="Digite a Data do Investimento" required> <br>
                    <button type="submit">Salvar</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <a href="index.html"><img src="../static/img/logo.png" alt="Logo"></a>
            <nav>
                <a href="usuarios.html">Usuário</a>
                <a href="painel.html">Painel </a>
                <a href="transacoes.html">Transações</a>
                <a href="emergencia.html">Emergência</a>
                <a href="investimentos.html">Investimentos</a>
            </nav>
        </div>
    </footer>
</body>

</body>
</html>