<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Solidez Capital - Painel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="container-flex">
      <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="Logo"></a>
      <nav>
        <a href="{{ url_for('visualizar_usuario') }}">Usuário</a>
        <strong><a href="{{ url_for('painel') }}">Painel</a></strong>
        <a href="{{ url_for('transacoes') }}">Transações</a>
        <a href="{{ url_for('emergencia') }}">Emergência</a>
        <a href="{{ url_for('investimento') }}">Investimentos</a>
      </nav>
    </div>
  </header>

  <main>
    <section class="painel-section">
      <p class="saudacao">Olá, {{ nome_usuario }}!</p>

      <div class="card_maior">
          <h3>Saldo Atual</h3>
          <p class="valor-verde destaque">R$ {{ saldo }}</p>
      </div>
      <div class="painel-cards">

        <div class="card">
          <h3>Total Entrada</h3>
          <p class="valor-verde">R$ {{ total_entrada }}</p>
        </div>

        <div class="card">
          <h3>Total Saída</h3>
          <p class="valor-vermelho">R$ {{ total_saida }}</p>
        </div>

        <div class="card">
          <h3>Investimentos</h3>
          <p class="valor-verde">R$ {{ total_investido }}</p>
        </div>
      </div>
      
      <div class="acoes-painel">
        <a href="/transacoes?tipo=entrada">Nova Entrada</a>
        <a href="/transacoes?tipo=saida">Nova Saída</a>
      </div>

      <table class="tabela-transacoes">
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          {% for transacao in transacoes %}
          <tr>
            <td>{{ formatar_data(transacao.data) }}</td>
            <td>{{ transacao.descricao.capitalize() }}</td>
            <td>R$ {{ transacao.valor }}</td>
            <td>{{ transacao.tipo.capitalize() }}</td>
          </tr>
          {% else %}
          <tr><td colspan="4">Nenhuma transação registrada.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
</body>
</html>