<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solidez Capital - Usuário</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="Logo"></a>
            <nav>
                <a href="{{ url_for('visualizar_usuario') }}">Usuário</a>
                <a href="{{ url_for('painel') }}">Painel</a>
                <a href="#">Transações</a>
                <a href="#">Emergência</a>
                <a href="#">Investimentos</a>
            </nav>
        </div>
    </header>

    <section>
        <div>
            <h1>Usuário</h1>{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div>
                <p><strong>Nome:</strong> {{ usuario.nome }}</p>
                <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
            </div>
            <div>
                <a href="{{ url_for('editar_usuario') }}">Editar</a>
                <a href="{{ url_for('painel') }}">Voltar</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <a href="{{ url_for('index') }}"><img src="../static/img/logo.png" alt="Logo"></a>
            <nav>
                <a href="{{ url_for('visualizar_usuario') }}">Usuário</a>
                <a href="{{ url_for('painel') }}">Painel</a>
                <a href="#">Transações</a>
                <a href="#">Emergência</a>
                <a href="#">Investimentos</a>
            </nav>
        </div>
    </footer>
</body>
</html>